@import "tailwindcss";

.textGradient {
    background: -webkit-linear-gradient(#4338ca, #818cf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn::after{
    content: '';
    position: absolute;
    inset: -3px;
    background: #d11149;
    z-index: -1;
}